name: build and test with maven
run-name: build and test - ${{ github.event.head_commit.message }}

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  execute-mvn-build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: execute mvn build
        run: mvn -B package -DskipTests

      - name: execute mvn tests
        run: mvn -B test